*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    text-align: center;
    
    font-family: 'Lato', Verdana, Helvetica;
    font-size: 16px;
}

/* ------------------------------------------

flex

------------------------------------------- */

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.expanded-table {
    flex-wrap: wrap;
/*    width: 80%;*/
    
    margin: 5px auto;
/*    margin: 10px auto;*/
}

.col {
    flex-direction: column;
    justify-content: flex-end;
    
    margin: 0 1px;
}
.col .element,
.col .outline {
    margin: 1px 0;
}

.row {
    justify-content: center;
    
    margin: 1px 0;
}
.row .element {
    margin: 0 1px;
}

/* ------------------------------------------

element div

------------------------------------------- */

.element,
.outline {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    
    position: relative;
    align-self: center;
    cursor: pointer;
}

.el-symbol {
    font-weight: bold;
    font-size: 1.5em;
    
    /* symbol centered */
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    line-height: 60px;
    transform: translateY(-50%);
}
.el-number,
.el-weight {
    font-size: 0.65em;
    
    position: absolute;
}
.el-number {
    top: 5%;
    right: 5%;
}
.el-weight {
    bottom: 5%;
    left: 0;
    right: 0;
}

/* ------------------------------------------

helper classes

------------------------------------------- */

.outline {
    visibility: hidden;
}

/* ------------------------------------------

element div colors

------------------------------------------- */

.noble-gas {
    border-color: blue;
    color: blue;
}
.alkali-metal {
    border-color: red;
    color: red;
}
.alkaline-earth {
    border-color: brown;
    color: brown;
}
.nonmetal {
    color: lawngreen;
    border-color: lawngreen;
}
.basic-metal {
    border-color: darkorange;
    color: darkorange;
}
.semimetal {
    border-color: orange;
    color: orange;
}
.transition-metal {
    color: deeppink;
    border-color: deeppink;
}
.theoretical {
    color: gray;
    border-color: gray;
}
.halogen {
    color: aqua;
    border-color: aqua;
}
.actinide {
    color: fuchsia;
    border-color: fuchsia;
}
.lanthanide {
    color: coral;
    border-color: coral;
}

/* ------------------------------------------

header

------------------------------------------- */

h1 {
    margin: 0 auto;
    font-size: 3.5em;
    font-style: italic;
}

/* ------------------------------------------

modal

------------------------------------------- */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}