*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    
    font-family: Verdana;
    font-size: 16px;
}

.hidden {
    display: none;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.element {
    border: 1px solid black;
    width: 75px;
    height: 75px;
    
    padding: 10px;
    margin: 10px auto;
    
    position: relative;
    
    cursor: pointer;
}

.el-symbol {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    
    font-weight: bold;
    font-size: 2em;
    
    line-height: 100px;
    transform: translateY(-50%);
}

.el-number {
    font-size: 0.75em;
    position: absolute;
    
    top: 5%;
    right: 5%;
}

.el-weight {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    
    font-size: 0.75em;
}

.noble-gas {
    border-color: blue;
    color: blue;
}
.alkali-metal {
    border-color: red;
    color: red;
}
.alkaline-earth {
    border-color: brown;
    color: brown;
}
.nonmetal {
    color: lawngreen;
    border-color: lawngreen;
}
.basic-metal {
    border-color: darkorange;
    color: darkorange;
}
.semimetal {
    border-color: orange;
    color: orange;
}
.transition-metal {
    color: deeppink;
    border-color: deeppink;
}
.theoretical {
    color: gray;
    border-color: gray;
}
.halogen {
    color: aqua;
    border-color: aqua;
}